<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jellymodi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">

{#    js, css#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail_css.css') }}">
    <script src="{{ url_for('static', filename='js/detail_js.js') }}"></script>

</head>
<body>
    <button id="floating_modal_button" class="floating_button" data-bs-toggle="modal" data-bs-target="#option_modal"></button>
    <button id="floating_edit_button" class="floating_button" onclick="done_button_click('{{ post_info._id }}')">완료</button>
    <div>
        <div class="tape"></div>
        <div class="container">
            <div id="date" class="date"><span class="deco">{{ post_info.date }}</span></div>
            <div class="content">
                <div id="jelly_image" class="user_image"><img src={{ post_info.emoji }}></div>
                {% if post_info.img != '' %}
                    <div id="photo" class="user_image"><img src={{ post_info.img }}></div>
                {% endif %}
                <div id="desc" class="desc">{{ post_info.desc }}</div>
                <textarea id="edit_desc" class="edit_desc">{{ post_info.desc }}</textarea>
            </div>
        </div>
    </div>

    <!--모달-->
    <div class="modal fade" id="option_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <a href="{{ url_for('detail.delete_post', post_id=post_info._id) }}"><button class="modal_button" style="color: red">삭제하기</button></a>
                <hr>
                <button class="modal_button" onclick="edit_button_click()">수정하기</button>
                <hr>
                <a href="{{ url_for('home') }}"><button class="modal_button">메인화면</button></a>
                <hr>
                <button class="modal_button" onclick="logout()">로그아웃</button>
            </div>
        </div>
      </div>
    </div>
</body>
</html>