<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
    <!-- 자바스크립트, 스타일시트 파일 불러오기 -->
    <script src="{{ url_for('static', filename='js/login_signup.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">

    <title>Jellymodi</title>
</head>

<body>
<div class="main">
    <div class="logo" onclick="refresh()"></div>
    <form class="form1">
        <p class="desc" align="center">소중한 기록을 보호하기 위해 가입해주세요 :)</p>
        <input class="email" id="userid" type="email" align="center" placeholder="Enter email" autofocus>
        <input class="password" id="userpw" type="password" align="center" placeholder="Password">
        <button class="submit" type="button" align="center" onclick="signup()">Sign up</button>
        <p class="signup" align="center"><a href="{{ url_for('login.login') }}">Have you already signed up?</a></p>
    </form>
</div>
</body>

</html>